.DS_Store

__pycache__
venv
midi/augOutput/*
midi/augSource/*
midi/examples/*
midi/separate/*
midi/split/*
midi/whole/*

!midi/augOutput/test
!midi/augSource/test
!midi/examples/test
midi/test/out/*

midi/augOutput/test/*
midi/examples/test/out/*